body {
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #{{ site.color.secondary }};
}

.text-muted {
    color: #{{ site.color.secondary }};
}

.text-primary {
    color: #{{ site.color.primary }};
}

p {
    font-size: 14px;
    line-height: 1.75;
    font-family: {{ site.font.primary }};
}

p.large {
    font-size: 16px;
}

hr {
    border-top: 4px solid;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #{{ site.color.primary }};
}

a:hover,
a:focus,
a:active,
a.active {
    color: #{{ site.color.secondary }};
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: {{ site.font.primary }};
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-image:  url('{{ site.baseurl }}/img/misc/background_grey.png');
}

.bg-light-white {
    background-image:  url('{{ site.baseurl }}/img/misc/background_white.png');
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary {
    border-color: #{{ site.color.primary }};
    text-transform: uppercase;
    font-family: {{ site.font.primary }};
    font-weight: 700;
    color: #fff;
    background-color: #{{ site.color.primary }};
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #{{ site.color.primary }};
    color: #fff;
    background-color: #{{ site.color.secondary }};
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #{{ site.color.primary }};
    background-color: #{{ site.color.primary }};
}

.btn-primary .badge {
    color: #{{ site.color.primary }};
    background-color: #fff;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #{{ site.color.primary }};
    border-radius: 3px;
    text-transform: uppercase;
    font-family: {{ site.font.primary }};
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #{{ site.color.primary }};
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #{{ site.color.primary }};
    color: #fff;
    background-color: #{{ site.color.secondary }};
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #{{ site.color.primary }};
    background-color: #{{ site.color.primary }};
}

.btn-xl .badge {
    color: #{{ site.color.primary }};
    background-color: #fff;
}

header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image:  url('{{ site.baseurl }}/img/misc/aristocats_logo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #000000;
    opacity: 0.8;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: contain;
    -o-background-size: cover;
    padding-top: 300px;
    padding-bottom: 300px;
}

#bottles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    overflow: hidden;
    opacity: 1;
    z-index: 5;
}

.cat {
    content: url('{{ site.baseurl }}/img/misc/cat_light_gray.png');
    width: 200px;
    z-index: 10;
    position: absolute;
    display: inline-block;
    left: 10%;
    top: 445px;
}

.beaver {
    content: url('{{ site.baseurl }}/img/misc/beaver.png');
    width: 270px;
    z-index: 10;
    position: absolute;
    display: inline-block;
    left: 10%;
    top: 472px;
    transform: rotate(5deg);
    
}

@media(max-width:768px) {
    header {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    #matter {
        height: 402px;
    }

    .cat {
        width: 170px;
        left: 5%;
        top: 267px;
    }

    .beaver {
        width: 220px;
        left: 5%;
        top: 295px;
    }
}

section {
    padding: 50px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 25px;
    text-transform: none;
    font-family: {{ site.font.primary }};
    font-size: 16px;
    font-weight: 500;
}

@media(min-width:768px) {
    section {
        padding: 75px 0;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    background: rgba(254,209,54,.9); /* Fallback when no plugin support */
    background: rgba({{ site.color.primary | hex_to_rgb | join: ',' }}, .9);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: {{ site.font.secondary }};
    font-size: 16px;
    font-style: italic;
}

#portfolio * {
    z-index: 2;
}


.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 60px;
    width: 5px;
    margin-left: -1.5px;
    background-color: #{{ site.color.primary }};
}

.timeline>li {
    position: relative;
    margin-bottom: 20px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: left;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 120px;
    height: 120px;
    margin-left: 0;
    border: 7px solid #f5f5f5;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #{{ site.color.primary }};
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: left;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

.timeline .timeline-heading {
    margin-left: 30px;
}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 20px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 140px;
        height: 140px;
        margin-left: -70px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }

    .timeline .timeline-heading {
        margin-left: 0px;
    }

}

@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px 25px;
    }

    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #{{ site.color.primary }};
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: {{ site.font.primary }};
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: {{ site.font.primary }};
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: {{ site.font.primary }};
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: {{ site.font.primary }};
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}

footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: {{ site.font.primary }};
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: {{ site.font.primary }};
    line-height: 40px;
}

.social-buttons {
    margin-bottom: 0;
    display: block;
    font-size: 20px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

.general-modal .modal-content {
    padding: 0px 0;
    max-width: 80%;
    left: 10%;
    border: 0;
    border-radius: 5;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image:  url('{{ site.baseurl }}/img/misc/background_white.png');
}

.general-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.general-modal .modal-content p {
    margin-bottom: 30px;
}

.general-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: {{ site.font.secondary }};
    font-size: 16px;
    font-style: italic;
}

.general-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.general-modal .modal-content img {
    max-width: 100%;
}

.modal-body img {
    width: 100%;
    height: auto;
}

.general-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.general-modal .close-modal:hover {
    opacity: .3;
}

.general-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.general-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

::-moz-selection {
    text-shadow: none;
    background: #{{ site.color.primary }};
}

::selection {
    text-shadow: none;
    background: #{{ site.color.primary }};
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #{{ site.color.primary }};
}
